.tooltip
	position absolute
	background-color $white
	font-family $sans-display
	padding 1rem
	set-type-size('root', true)
	color darken($navy, 0.9)
	//opacity 0
	border-top 2px solid darken($navy, 0.9)
	border-bottom 2px solid darken($navy, 0.9)
	border-right 2px solid darken($navy, 0.9)

	span
		font-weight 600

.block
	width 100%
	margin 0 auto 0 auto
	background-color $navy
	position relative
	min-height 80vh

	&__names
		max-height 150vh
		overflow hidden
		+mq('bp-5')
			max-height none
			overflow visible

	&__buttons
		position absolute
		z-index 998
		left 0
		top 25%
		padding 1rem 0.5rem
		//background-color rgba($white, 1)

		p
			color $white
			font-family $anton
			margin 0
			padding 0
			text-transform uppercase
			text-shadow 0px 0px 10px darken($navy, 0.9)

			&:hover
				color $yellow

			&.is-active
				color $yellow

	&__more
		width 100%
		display flex
		justify-content center
		position absolute
		bottom 0
		left 0
		padding 4.5rem 1rem 1.5rem 1rem
		background-image linear-gradient(rgba($navy, 0), rgba($navy, 1), rgba($navy, 1));
		+mq('bp-5')
			display none

		button
			background-color transparent
			color $navy-light
			font-family $sans
			font-weight 600
			set-type-size('small', true)
			text-transform uppercase
			border 1px solid $navy-light
			padding 0.5rem

			&:hover
				background-color $yellow
				border 1px solid $yellow
				color $navy

	&__controls
		position sticky
		top 3rem
		z-index 999
		width 100%
		height 7.5rem
		border-bottom 1px solid $navy-light
		background-color darken($navy, 0.9)
		display flex
		flex-direction column
		justify-content flex-start
		+mq('bp-3')
			justify-content space-between
			flex-direction row
		+mq('bp-4')
			height 6rem

		select
			appearance none
			width 3.75rem
			cursor pointer
			border none
			background url('assets/images/arrow.png') 100% / 18% no-repeat transparent
			font-family $anton
			color $white
			set-type-size('large', true)
			text-transform uppercase
			border-bottom 1px solid $navy-light
			border-radius 0
			+mq('bp-3')
				set-type-size('x-large', true)
				width 4.5rem
			+mq('bp-5')
				set-type-size('xx-large', true)
				width 6rem

			&:hover
				border-bottom 1px solid $yellow
				background url('assets/images/arrow-yellow.png') 100% / 18% no-repeat transparent

			&:focus
				outline none

			option
				background-color transparent

		.nums
			display flex
			padding 1rem 0 0 1rem
			flex-direction row
			align-items left
			align-self start
			color $navy-light
			font-family $sans-display
			margin-bottom 2rem
			+mq('bp-3')
				padding 0.5rem 0 0 1rem
				flex-direction column
				align-items left
				align-self center
				margin-bottom 0
			+mq('bp-4')
				flex-direction row
				align-items center

			.buffer
				margin-top 0
				align-items center
				+mq('bp-3')
					margin-top 0.5rem
				+mq('bp-4')
					margin-top 0

			div
				display flex
				flex-direction row

			p
				padding 0 0.125rem
				margin 0
				set-type-size('small', true)
				+mq('bp-3')
					padding 0 0.25rem
					set-type-size('root', true)
				+mq('bp-5')
					set-type-size('medium', true)

			.decadeNum
				font-family $anton
				color $white
				set-type-size('large', true)
				text-transform uppercase
				padding 0 0 0 1rem
				text-transform none
				border-right 1px solid $navy-light
				padding 0 0.5rem
				+mq('bp-3')
					set-type-size('x-large', true)
					padding 0 0 0 1rem
					border-right none
				+mq('bp-4')
					border-right 1px solid $navy-light
					padding 0 1rem
				+mq('bp-5')
					set-type-size('xx-large', true)

			.hyphenCount, .totalCount
				font-family $anton
				color $yellow
				set-type-size('large', true)
				+mq('bp-3')
					set-type-size('x-large', true)
				+mq('bp-5')
					set-type-size('xx-large', true)

			.hyphenCount
				padding-left 0.5rem
				+mq('bp-3')
					padding-left 0
				+mq('bp-4')
					padding-left 1rem

			.percentCount
				padding 0

		.slider__wrapper
			width 100%
			padding 0 1.5rem 0 0
			display flex
			align-items center
			margin-top -1rem
			+mq('bp-3')
				width 12rem
			+mq('bp-5')
				width 15rem

			.block__slider
				width calc(100% - 2rem)
				margin 0 auto

	figure
		width 100%
		padding 1rem
		position relative

		.g-vis
			display flex
			flex-wrap wrap
			align-content space-between

			.name
				font-family $sans-display
				margin 0
				padding 0.125rem
				font-size 14px
				color $navy-light
				//set-type-size('xx-small', true)

				&__true
					color $yellow
					font-weight 600
					cursor pointer

.noUi-tooltip::after
	 display inline-block
	 content 's'

.noUi-base
	&.dis-handle
		&:after
			background darken($navy, 0.9)
