.conclusion
	padding 0 2rem 10rem 2rem
	border-top 3px solid $navy
	background-color $orange
	z-index set-index('bottom')
	+mq('bp-5')
		padding 0 1rem 10rem 1rem
	+mq('bp-7')
		padding 0 0 10rem 0

	.wrapper-line
		max-width 60rem
		padding 4rem 0 2rem 0
		margin 0
		border-bottom none
		border-left none
		border-right none
		+mq('bp-5')
			border-bottom 3px solid $navy
			border-left 3px solid $navy
			border-right 3px solid $navy
		+mq('bp-7')
			margin 0 auto
			max-width 60rem

		.prose
			padding 0

	.methods
		max-width $column-width
		margin 4rem auto 0 auto

		h3
			padding 0
			font-family $sans-display
			color darken($navy, 0.9)
			font-weight 600
			set-type-size('root', true)

		p
			font-family $sans
			set-type-size('small', true)
			padding 0
			margin 0 auto 1rem auto
			color darken($navy, 0.9)

		a
			color darken($navy, 0.9)
			border-bottom 1px solid darken($navy, 0.9)
			&:hover
				color $orange
