.conclusion
	padding 0 0 10rem 0
	border-top 3px solid $navy
	background-color $orange
	z-index set-index('bottom')

	.wrapper-line
		max-width 60rem
		padding 4rem 0 2rem 0
		margin 0 auto 0 auto
		border-bottom 3px solid $navy
		border-left 3px solid $navy
		border-right 3px solid $navy
		//background-color $white

	.methods
		max-width $column-width
		margin 0 auto

		h3
			padding 0 1rem
			font-family $sans-display
			color darken($navy, 0.9)
			font-weight 600
			set-type-size('root', true)

		p
			font-family $sans
			set-type-size('small', true)
			padding 0 1rem
			margin 0 auto 1rem auto
			color darken($navy, 0.9)

		a
			color darken($navy, 0.9)
			border-bottom 1px solid darken($navy, 0.9)
			&:hover
				color $orange
