.heatmap
	width 100%
	margin 0 auto
	max-width $column-width
	padding 0 1rem

	figure
		width 100%

		.g-vis
			display flex

		.decade
			width 14%

			p
				font-family $national
				set-type-size('root', true)
				margin 0
				padding 0.5rem 1rem
