.histogram
	width 100%
	margin 0 auto 2rem auto
	padding 0 1rem

	figure
		width 100%

		.g-vis
			display flex
			align-items flex-end

			.length
				display flex
				flex-direction column
				align-items flex-end
				width 7.5%

				.name
					width 100%

					p
						font-family $sans-display
						set-type-size('xxx-small', true)
						white-space nowrap
						overflow hidden
						margin 0
						padding 0
