.histogram
	width 100%
	margin 0 auto 2rem auto
	padding 0 1rem

	figure
		width 100%

		.g-vis
			display flex
			align-items flex-end

			.length
				display flex
				flex-direction row
				flex-wrap wrap
				width 16.5%
				max-height 90vh
				margin 0 0.5rem

				.label
					order 1
					width 100%
					border-top 1px solid black
					margin 0.5rem 0 0 0

					p
						font-family $sans-display
						font-weight 600
						text-align center
						margin 0
						padding 0

				.name
					width 50%
					order 0

					p
						font-family $sans-display
						font-weight 400
						text-align left
						set-type-size('xxx-small', true)
						white-space nowrap
						overflow hidden
						margin 0
						padding 0
						border-top none

.wnba
	color $orange						
