.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	background-color $orange
	color darken($navy, 0.9)

	&__hed
		max-width 80rem
		margin 0 auto
		text-align center
		font-family $anton
		text-transform uppercase
		set-type-size('x-large', true)
		padding 0
		+mq('bp-3')
			set-type-size('xx-large', true)
		+mq('bp-5')
			font-size 60px
			margin -1rem auto

	.accent
		font-family $anton
		text-transform uppercase
		set-type-size('xxxxx-large', true)
		+mq('bp-3')
			font-size 90px
		+mq('bp-4')
			font-size 120px
		+mq('bp-5')
			font-size 150px

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		font-family $sans-display
		max-width $column-width
		margin 2rem auto 0.5rem auto
		text-align center
		+mq('bp-3')
			margin 4rem auto 0.5rem auto

		a
			color darken($navy, 0.9)
			border-bottom 1px solid darken($navy, 0.9)
			&:hover
				color $white

	&__illos
		font-family $sans-display
		max-width $column-width
		margin 0 auto 3rem auto
		text-align center
		font-style italic
		set-type-size('small', true)
		+mq('bp-3')
			margin 0 auto 4rem auto

		a
			color darken($navy, 0.9)
			border-bottom 1px solid darken($navy, 0.9)
			&:hover
				color $white

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

.prose
	font-family $sans
	padding 0 1rem
	margin 1rem auto
	color darken($navy, 0.9)

	a
		color darken($navy, 0.9)
		border-bottom 1px solid darken($navy, 0.9)
		&:hover
			color $white
