/* CUSTOM STORY STYLE */
.vignettes
	width 100%
	font-family $sans-display

	.athlete
		width 100%
		padding 0 1rem

		.name-container
			width 100%
			display flex

			&__left, &__right
				width 50%
				text-transform uppercase
				font-weight 700
				padding 0 0.5rem

			&__left
				width 50%
				background-color blue
				text-align right

			&__right
					background-color red
					text-align left

			.lastName
				text-transform uppercase
				margin 0
				font-weight 700
				set-type-size(xxx-large, true)

		.deets-container
			width 100%
			padding 1rem

			&__text
				p
					margin 0
					padding 0

					span
						font-weight 700
