/* CUSTOM STORY STYLE */
.vignettes
	width 100%
	font-family $sans-display

	.athlete
		width 100%
		padding 0 1rem

		.name-container
			width 100%
			display flex

			&__left, &__right
				width 50%
				text-transform uppercase
				font-weight 700
				padding 0 0.5rem

			&__left
				width 50%
				background-color $orange
				text-align right

			&__right
					background-color $navy
					text-align left

			.lastName
				text-transform uppercase
				margin 0
				font-family $anton
				//set-type-size(xxx-large, true)
				font-size 100px
				letter-spacing 0.125rem

				&__left
					color $navy
					padding-right 1rem

				&__right
						color $yellow
						padding-left 1rem

		&__body
			display flex
			max-width 70rem
			margin 0 auto 5rem auto

			.img-container
				max-width 600px

			.deets-container
				width 100%
				padding 1rem
				margin-top 3rem

				&__text
					p
						margin 0
						padding 0

						span
							font-weight 700

#Rowland-Smith, #Green-Ellis, #Grand-Pierre
	.img-container
		order 2

	.deets-container
		order 1
