<section class='block'>
	<div class='block__controls'>
		<div class='nums'>
			<!--<p class='leagueName'></p>-->
			<div>
				<select class='leagueDropdown'>
					<option>mlb</option>
					<option selected>nba</option>
					<option>nfl</option>
					<option>nhl</option>
					<option>mls</option>
					<option>wnba</option>
					<option>nwsl</option>
				</select>
				<p class='decadeNum'></p>
			</div>
			<div class='buffer'>
				<p class='hyphenCount'></p>
				<p class='outOf'>hyphens in</p>
				<p class='totalCount'></p>
				<p class='outOf'>names</p>
				<p class='percentCount'></p>
			</div>
		</div>
		<div class='slider__wrapper'>
			<div class='block__slider'></div>
		</div>
	</div>
	<div class='block__names'>
		<figure></figure>
	</div>
	<div class='block__more'>
		<button>see more</button>
	</div>
</section>
