<section class='block'>
	<figure></figure>
	<div class='block__controls'>
		<div class='nums'>
			<p class='leagueName'></p>
			<p class='hyphenCount'></p>
			<p class='outOf'>hyphens in</p>
			<p class='totalCount'></p>
			<p class='outOf'>names</p>
			<!--<p class='percentCount'></p>-->
		</div>
		<div class='slider__wrapper'>
			<div class='block__slider'></div>
		</div>
	</div>
</section>
