<section class='block'>
	<div class='block__controls'>
		<div class='nums'>
			<p class='leagueName'></p>
			<p class='decadeNum'></p>
			<p class='hyphenCount'></p>
			<p class='outOf'>hyphens in</p>
			<p class='totalCount'></p>
			<p class='outOf'>names</p>
			<!--<p class='percentCount'></p>-->
		</div>
		<div class='slider__wrapper'>
			<div class='block__slider'></div>
		</div>
	</div>
	<div class='block__buttons'>
		<p>mlb</p>
		<p class='is-active'>nba</p>
		<p>nfl</p>
		<p>nhl</p>
		<p>mls</p>
		<p>wnba</p>
		<p>nwls</p>
	</div>
	<figure></figure>
</section>
