<div class='conclusion'>
	{{#each doc.conclusionCopy}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
	<div class='methods'>
		<h3>{{{doc.methodsHed}}}</h3>
		{{#each doc.methodsCopy}}
	    <p>{{{value}}}</p>
	  {{/each}}
	</div>
</div>
