<section class='heatmap'>
	<div class='wrapper-line'>
		<h3>{{doc.heatmapHed}}</h3>
		<p class='dek'>{{doc.heatmapDek}}</p>
		<figure></figure>
		{{#each doc.heatmapCopy}}
	    <p class='prose'>{{{value}}}</p>
	  {{/each}}
	</div>
</section>
